<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>conqrete</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/title-icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>


    <nav class="navbar navbar-expand-lg">
        
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/nav-icon.png" alt="conqrete logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color: black"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <% if(!currentUser) { %>
                    <a class="nav-item nav-link" href="/login">Login</a>
                    <a id="btn-signup" class="nav-item nav-link" href="/register">Sign Up</a>
                    <% } else { %>
                    <a class="nav-item nav-link" href="/users/<%= currentUser._id %>">Signed in as <%= currentUser.username %></a>
                    <a class="nav-item nav-link" href="/logout">Log Out</a>
                    <% } %>
                </div>
            </div>
        </div>
    
    </nav>


    <div class="container">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>

