<% include ../partials/header %>

<div class="container">
    <div>
        <form class="new-form" action="/skateparks/<%= skatepark._id %>/comments" method="POST" autocomplete="off">
            <h1 class="form-title">Add New Comment to</h1>
            <h1 class="form-title"><%= skatepark.name %></h1>
            <div class="row">
                <div class="form-group col">
                    <textarea class="form-control text-area" type="text" name="comment[text]" placeholder="Text"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <button class="btn form-btn">Enter</button>
                </div>
            </div>
            <a href="/skateparks">Back to Skateparks</a>
        </form>
    </div>
</div>


<% include ../partials/footer %>