<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="auth-form">
            <h3 class="text-center">Add New Comment to</h3>
            <h3 class="text-center"><%= skatepark.name %></h3>
            <form action="/skateparks/<%= skatepark._id %>/comments" method="POST" autocomplete="off">
                <div class="form-group">
                    <textarea class="form-control text-area" type="text" name="comment[text]" placeholder="Add comment here"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn form-btn">Enter</button>
                </div>
            </form>
            <a href="/skateparks">Back to Skateparks</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>