<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="auth-form">
            <img id="cr-logo" src="/images/cr-icon.png" alt="conqrete logo">
            <h5 class="text-center">Forgot Password</h5>
            <h5 class="text-center">Enter Email</h5>
            <form action="/forgot" method="POST" autocomplete="off">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input class="form-control" type="email" name="email" placeholder="email" autofocus required>
                </div>
                <button class="btn form-btn btn-block">Reset Password</button>
            </form> 
        </div>
    </div>
</div>

<% include partials/footer %>