<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to SkateYelp</h1>
            <h6>View Skateparks all over the world!</h6>
            <p><a class="btn  btn-primary" href="/skateparks/new">Add a new Skatepark</a></p>
        </div>
    </header>
    
    
    <div class="row text-center">
        <% for(var i = 0; i < skateparks.length; i++){ %>
        <div class="col-md-3 col-sm-6">
            <div class="card" style="display: flex; flex-wrap: wrap; margin-bottom: 15px;">
                <img class="card-img-top" src="<%= skateparks[i].image %>" alt="<% skateparks[i].name %>"> 
                <div class="card-body" >
                    <h6 class="card-title"> <%= skateparks[i].name %> </h6>
                </div>
                <p>
                    <a href="/skateparks/<%= skateparks[i]._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
        <% }; %> 
    </div>
    
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



<% include partials/footer %>