<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="auth-form">
            <img id="cr-logo" src="/images/cr-icon.png" alt="conqrete logo">
            <h5 class="text-center">Log in</h5>
            <form action="/login" method="POST" autocomplete="off">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="username" placeholder="Username" autofocus required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" placeholder="Password" required>
                </div>
                <button class="btn form-btn btn-block">Log in</button>
            </form>
            <a href="/register">Sign up here</a>
            <br/>
            <a href="/forgot">Forgot password</a>
        </div>
    </div>       
</div>

<% include partials/footer %>