<% include partials/header %>

<div class="container">
    <div class="row">
        <div style="margin: 0px auto; width: 40%;">
            <h1 style="text-align: center;">Enter a New Skatepark</h1>
            <form action="/skateparks" method="POST" style="margin-top: 25px">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name of park">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="URL of park">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="Description">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" style="width: 100%;">Enter</button>
                </div>
            </form>
            <a href="/skateparks">Back to Skateparks</a>
        </div>        
    </div>
</div>


<% include partials/footer %>