@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');
/*
ALERTS
*/

.alert {
    border: none;
    border-radius: 0px;
    margin: 0 0;
}

.alert.alert-danger {
    background-color: rgba(255, 71, 87);
    color: #ffffff;
    font-weight: 500;
}

.alert.alert-success {
    background-color: rgba(29, 209, 161);
    color: #ffffff;
    font-weight: 500;
}

/*
Navbar
*/
.bg-light{
    background-color: white;
}

.btn {
    border-radius: 0px;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0);
    border-color: rgba(255, 255, 255);
}

nav.navbar a.nav-item.nav-link {
    color: #363636;
    font-weight: 500;
}

nav.navbar a.nav-item.nav-link:hover {
    opacity: 0.5;
}

#btn-signup {
    transition: background-color 0.3s ease, 
             color 0.3s ease, 
            border 0.3s ease;
    background-color: #363636;
    color: #ffffff;
    font-weight: 500;
    border: 1px solid #363636;
}

#btn-signup:hover {
    background-color: #ffffff;
    color: #363636;
    border: 1px solid #363636;
    opacity: 1.0;
}

/*
Jumbotron
*/

.jumbotron {
    min-height: 50vh;
    text-align: center;
    font-family: 'Signika', sans-serif;
    background-color: #fff;
    border-radius: 0px;
    border-bottom: 1px solid rgba(47, 54, 64, 0.2);
}

.vertical-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 

    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;

  width: 100%;
  

         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
} 

#welcome {
    font-size: 80px;
}

#slogan {
    font-size: 30px;
}

#add-skatepark-btn {
    transition: -webkit-box-shadow 0.3s ease, 
                -moz-box-shadow 0.3s ease,
                box-shadow 0.3s ease,
                opacity 0.3s ease;
    background-color: #1e90ff;
    border: 1px solid #000;
    color: #fff;
}

#add-skatepark-btn:hover {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    opacity: 0.8;
}

@media only screen and (max-width: 760px) {
    h1#welcome{
        font-size: 60px;
    }
} 

@media only screen and (max-width: 480px) {
    h1#welcome{
        font-size: 30px;
    }
} 

/*
Cards
*/

.card {
    margin-bottom: 5%;
    padding-bottom: 2%;
    border-radius: 0;
    border: 1px solid rgba(47, 54, 64, 0.5);
}

.card-img-top {
    border-radius: 0;
    border-bottom: 1px solid rgba(47, 54, 64, 0.5);
}

#skatepark-card {
    font-weight: 700;
    font-family: 'Overpass', sans-serif;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
}

#more-info-btn {
    transition: -webkit-box-shadow 0.3s ease, 
                -moz-box-shadow 0.3s ease,
                box-shadow 0.3s ease,
                opacity 0.3s ease;
    background-color: #1e90ff;
    border: 1px solid #000;
    color: #fff;
}

#more-info-btn:hover {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    opacity: 0.8;
}

#search {
    transition: -webkit-box-shadow 0.3s ease, 
                -moz-box-shadow 0.3s ease,
                box-shadow 0.3s ease,
                opacity 0.3s ease;
    border: 1px solid #000;
}

#search:hover {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    opacity: 0.8;
}

.card-body {
    padding-bottom: 0;
}

/*
MAP
*/

#map {
    height: 400px;
    width: 100%;
}

/*
NEW PAGE in /comments
*/

.text-area {
    resize: none;
}

/*
NEW PAGE in /skateparks
*/

#cr-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-title {
    text-align: center;
}

.new-form {
    margin: auto;
    width: 500px;
    margin-top: 15%;
}

@media only screen and (max-width: 600px) {
  .new-form {
    width: 350px;
  }
} 

a.btn.form-btn.btn-sm {
    background-color: #f0932b;
    color: #fff;
    font-weight: 600;
}

a.btn.edit-btn.btn-sm {
    background-color: #f0932b;
    color: #fff;
    font-weight: 600;
}

button.btn.delete-btn.btn-sm {
    background-color: #ff4757;
    color: #fff;
    font-weight: 600;
}

button.btn.form-btn.btn-sm{
    background-color: #ff4757;
    color: #fff;
    font-weight: 600;
}

.form-btn {
    transition: -webkit-box-shadow 0.3s ease, 
                -moz-box-shadow 0.3s ease,
                box-shadow 0.3s ease,
                opacity 0.3s ease;
    width: 100%;
    border: 1px solid #363636;
    margin-bottom: 1%;
}

.form-btn:hover {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    opacity: 0.8;
}


/*
SHOW PAGE in /skateparks
*/

.list-group {
    margin-bottom: 5%;
}

#price {
    float: right;
}

#comment-btn {
    transition: -webkit-box-shadow 0.3s ease, 
                -moz-box-shadow 0.3s ease,
                box-shadow 0.3s ease,
                opacity 0.3s ease;
    float: right;
}

#comment-btn:hover {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    opacity: 0.8;
}

#comment {
    margin: 0.5%;
}

#comment-date {
    float: right;
}

.delete-btn-form {  
    display: inline;
}

.delete-btn {
    transition: -webkit-box-shadow 0.3s ease, 
                -moz-box-shadow 0.3s ease,
                box-shadow 0.3s ease,
                opacity 0.3s ease;
    float: right;
    color: #363636;
    border: 1px solid #363636;
    background-color: #ffffff;
}

.delete-btn:hover {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    opacity: 0.8;
}

.edit-btn {
    transition: -webkit-box-shadow 0.3s ease, 
                -moz-box-shadow 0.3s ease,
                box-shadow 0.3s ease,
                opacity 0.3s ease;
    float: right;
    color: #363636;
    border: 1px solid #363636;
    background-color: #ffffff;
    margin-left: 10px;
}

.edit-btn:hover {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    opacity: 0.8;

}

/*
SIGNUP, LOG IN
*/

#cr-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.auth-form {
    margin: 5% auto;
    width: 350px;
}

.form-control {
    border: 1px #363636 solid;
    border-radius: 0;
}


a {
    text-decoration: none !important;
}

/*
USER PROFILE
*/

#profile-card{
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.14);
}

#contribution-link{
    list-style-type: none;
}