<% include ../partials/header %>

<div class="container">
    <div id="profile-card" class="card text-center" style="width: 18rem; margin: 15px auto;">
        <img class="card-img-top" src="<%= user.image %>" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><%= user.username%></h5>
            <hr>
            <h6>Contributions</h6>
            <p class="card-text">
                <% skateparks.forEach((skatepark) => { %>
                    <li id="contribution-link"><a href="/skateparks/<%= skatepark.id %>"><%= skatepark.name %></a></li>
                <% }); %>
            </p>
            <a href="#" class="btn form-btn btn-primary">Follow</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>