<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="auth-form">
            <h3 class="text-center">Enter a new skatepark</h3>
            <form  action="/skateparks" method="POST" autocomplete="off">
                <div class="form-group">
                    <input class="form-control" type="text" name="skatepark[name]" placeholder="Name of park">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="skatepark[cost]" placeholder="Price" min="0.00" step="0.01">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="skatepark[location]" id="location" placeholder="Los Angeles, CA">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="skatepark[image]" placeholder="Image URL of park">
                </div>
                <div class="form-group">
                    <textarea class="form-control text-area" type="text" name="skatepark[description]"
                        placeholder="Description"></textarea>
                </div>
                    <button class="btn form-btn btn-block">Enter</button>
            </form>
            <a href="/skateparks">Back to Skateparks</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>